.navbar {
    background: rgb(0, 1, 31);
    border-bottom: 1px solid #a43029;
    min-height: 60px;
    position: fixed;
    width: 99%;
    color: #fff;
    z-index: 99;
    white-space: nowrap;
    padding-right: 50px;
  }
  
  .score {
    margin: 0px -0.5%;
  }
  
  .scoreSplit {
    color: #a43029;
  }
  
  .navbar .correct {
    color: #2e7d32;
    -webkit-animation: 1s correct;
    animation: 1s correct;
    margin-left: 35%;
  }
  
  .navbar .incorrect {
      color: #c62828;
    -webkit-animation: 1s incorrect;
    animation: 1s incorrect;
    margin-left: 35%;
  }
  
  